@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", serif;
}

body {
  display: flex;
  flex-direction: column;
}

p {
  font-size: 1.125rem;
  line-height: 1.5rem;
}

h1 {
  font-size: 3.8rem;
  font-weight: bold;
  text-transform: uppercase;
}

h2 {
  font-weight: normal;
  position: relative;
  font-size: 2.8rem;
  line-height: 2.5rem;
  background-color: #0c0f0a;
  padding: 0.5rem 1rem;
  color: #e8e8e8;
  border-radius: 0 10px 0 10px;
}

h3 {
  font-size: 1.6rem;
  padding: 0.5rem 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 4rem;
  background-color: #0c0f0a30;
  height: 10vh;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
  transition: background-color 0.4s ease-in-out;
}

header.scrolled {
  background-color: #0c0f0a;
}

.logo {
  flex: 1;
}

.logo a {
  text-decoration: none;
  font-size: 2.5rem;
  font-weight: bold;
  color: #e8e8e8;
}

.nav-bar .links {
  display: flex;
  list-style-type: none;
}

.link a {
  text-decoration: none;
  font-size: 1rem;
  padding: 1rem 1.5rem;
  color: #e8e8e8;
  font-weight: 500;
  transform: color 0.4s ease-in-out;
}

.link a:hover {
  background-color: #800020;
  transition: 0.3s;
  border-radius: 5px;
}

header.scrolled .link a {
  color: #e8e8e8;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.line {
  display: block;
  width: 1.5rem;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  background-color: #e8e8e8;
}

.home {
  height: 100vh;
  background: linear-gradient(#00000070, #00000050),
    url("home/crossfit-1126999_1280.jpg") center / cover no-repeat;
  position: relative;
}

.home-content {
  text-align: center;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #e8e8e8;
  width: 70%;
}

.home-content h1 {
  letter-spacing: 0.3rem;
  padding: 0;
  text-shadow: 2px 2px #101010;
}

.home-content p {
  font-size: 1.5rem;
  padding: 1.5rem 0 2.5rem 0;
  text-shadow: 2px 2px #101010;
}

.home-content .home-btn a {
  margin: 0 auto;
  width: 80%;
  text-decoration: none;
  background-color: #800020;
  color: #e8e8e8;
  font-size: 1.2rem;
  padding: 0.8rem 1.8rem;
  border-radius: 5px;
  box-shadow: 0 3px 6px #00000030;
}

.home-content .home-btn a:hover {
  transition: 0.3s;
  background-color: #e8e8e8;
  color: #800020;
  box-shadow: 0 5px 10px #00000050;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 4rem;
  background-color: #0c0f0a;
  color: #e8e8e8;
  height: 10vh;
  text-align: center;
}

footer .author,
.logo,
.socials {
  flex: 1;
}

.fab {
  font-size: 1.5rem;
  padding: 0.5rem;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  color: #e8e8e8;
}

.fab:hover {
  opacity: 0.6;
  transition: 0.1s;
}

.fa-facebook {
  background: #3b5998;
}

.fa-instagram {
  background: #c13584;
}

.fa-tiktok {
  background-color: #000000;
}

.services {
  height: 100vh;
  padding: 2rem 1.5rem;
  position: relative;
  background-color: #e8e8e8;
}

.cards {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 2rem;
  padding-top: 2.5rem;
}

.card {
  width: 16rem;
  height: 24rem;
  text-align: center;
  border: 1px solid #00000030;
}

.card:hover {
  box-shadow: 0 0.5rem 1rem 0 #00000060;
  transition: 0.3s;
}

.card img {
  display: block;
  width: 100%;
  height: 60%;
  object-fit: contain;
  padding: 0.5rem 1rem;
}

.card-desc {
  padding: 0.25rem 0.5rem;
  background-color: #800020;
  height: 40%;
}

.card-desc p {
  padding-bottom: 4rem;
  color: #e8e8e8;
}

.card-desc h3 {
  display: block;
  padding-bottom: 1rem;
  color: #e8e8e8;
  text-align: center;
}

.gallery {
  padding: 2rem 1.5rem;
  background-color: #0c0f0a;
}

.gallery h2 {
  background-color: #800020;
  color: #e8e8e8;
}

.gallery p {
  text-align: center;
  margin: 0 auto;
  padding: 2rem 0 2rem 0;
  width: 85%;
  color: #e8e8e8;
}

.images-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
  margin: 0 auto;
  width: 100%;
}

.gallery-image {
  width: 22rem;
  height: 18rem;
  overflow: hidden;
  border-radius: 10px;
}

.gallery-image img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  object-position: 50% 50%;
  transition: 0.5s ease-in-out;
}

.gallery-image img:hover {
  transform: scale(1.3);
  cursor: pointer;
}

.about {
  height: 100vh;
  padding: 2rem 1.5rem;
  background-color: #e8e8e8;
}

.about-container {
  padding: 2rem 1.5rem 2rem 1.5rem;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 90%;
  height: 100%;
}

.informations {
  padding: 2rem 1.5rem;
  width: 45%;
}

.informations h3 {
  padding-bottom: 1.5rem;
  color: #800020;
  font-weight: 800;
  font-size: 2.3rem;
}

.informations p {
  color: #0c0f0a;
  background-color: #80002050;
  padding: 1rem;
  border-radius: 5px;
}

.team {
  align-self: center;
  width: 55%;
  height: 22rem;
}

.team img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.team img:hover {
  opacity: 0.9;
  transition: 0.3s;
}

.contact {
  padding: 2rem 1.5rem;
  background-color: #e8e8e8;
}

.location {
  margin: 2rem auto 0 auto;
  width: 90%;
  height: 70vh;
  box-shadow: 0 0.25rem 0.5rem 0 #00000070;
}

.location iframe {
  width: 100%;
  height: 100%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.contact-container {
  margin: 0 auto;
  width: 90%;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  padding: 2rem 1.5rem 0 1.5rem;
}

.contact-info {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-box {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
  background-color: #800020;
  box-shadow: 0 0.25rem 0.5rem 0 #00000060;
  padding: 1rem 2rem 2.5rem 2rem;
  margin: 2.5rem 0 2.5rem 0;
  border-radius: 5px;
}

.contact-box h3 {
  font-weight: 600;
  color: #e8e8e8;
}

.contact-box p,
a {
  text-decoration: none;
  color: #e8e8e8;
  padding-top: 0.5rem;
  font-weight: 400;
}

.fa-map-pin,
.fa-phone,
.fa-envelope {
  padding-right: 0.8rem;
  color: #0c0f0a;
}

.contact-form {
  width: 50%;
  background-color: #0c0f0a;
}

.contact-form p {
  text-align: center;
  padding: 1rem 0.5rem 1rem 0.5rem;
  color: #e8e8e8;
  font-weight: 600;
}

.contact-form form {
  display: flex;
  flex-direction: column;
}

.contact-form form input {
  padding: 1.2rem 0.5rem;
  margin: 0.5rem 1rem;
}

input[type="text"] {
  background-color: #e8e8e8;
  font-size: 1.1rem;
  border: 2px solid #800020;
  outline: none;
}

textarea {
  background-color: #e8e8e8;
  font-size: 1.1rem;
  padding: 0.5rem 0.5rem;
  margin: 0.5rem 1rem;
  height: 8rem;
  border: 2px solid #800020;
  outline: none;
}

input[type="text"]:focus,
textarea:focus {
  transition: 0.3s;
}

textarea:hover,
.contact-form form input:hover {
  transition: 0.2s;
}

input::placeholder,
textarea::placeholder {
  color: #0c0f0a;
}

.submit-btn {
  background-color: #800020;
  color: #e8e8e8;
  font-size: 1.4rem;
  padding: 0.8rem 1.2rem;
  border: 1px solid #e8e8e8;
  border-radius: 5px;
}
.submit-btn:hover {
  background-color: #e8e8e8;
  color: #800020;
  border: 1px solid #800020;
  transition: 0.3s;
  cursor: pointer;
}

@media (max-width: 1180px) {
  h1 {
    font-size: 3.4rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 1.7rem;
  }
  p {
    font-size: 1.25rem;
  }

  .services {
    height: auto;
  }

  .cards {
    position: static;
    transform: none;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
  }

  .card {
    width: 100%;
    max-width: 398px;
    max-height: 497px;
  }

  .card-desc {
    padding: 0.5rem 1rem;
  }

  .card-desc p {
    padding-bottom: 2rem;
  }

  .card-desc h3 {
    padding-bottom: 1rem;
  }

  .about {
    height: auto;
    width: 100%;
  }

  .informations {
    width: 100%;
    padding: 0;
  }

  .informations h3 {
    padding: 1rem 0 0.8rem 0;
  }

  .informations p {
    padding: 1rem;
  }

  .team {
    padding-left: 1rem;
    width: 100%;
    height: auto;
    align-self: center;
  }

  .team img {
    width: 100%;
    height: 100%;
  }

  .contact-container {
    max-width: 1180px;
    width: 90%;
  }

  .contact-info,
  .contact-form {
    width: 50%;
  }
}

@media (max-width: 960px) {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2.3rem;
  }

  h3 {
    font-size: 1.6rem;
  }
  p {
    font-size: 1.2rem;
  }

  .cards {
    gap: 2rem;
  }

  .card {
    max-width: 382px;
    max-height: 477px;
  }

  .card-desc {
    padding: 0.5rem 1rem;
  }

  .card-desc p {
    padding-bottom: 2rem;
  }

  .card-desc h3 {
    padding-bottom: 1rem;
  }

  .about {
    display: flex;
    flex-direction: column;
  }

  .about-container {
    padding: 0;
    flex-direction: column;
    align-items: center;
  }

  .informations {
    text-align: center;
  }

  .team {
    padding-top: 1rem;
  }

  .location {
    width: 90%;
    max-width: 960px;
  }

  .location iframe {
    height: 100%;
  }

  .contact-container {
    padding: 0;
    flex-direction: column;
    align-items: center;
    max-width: 960px;
  }

  .contact-info,
  .contact-form {
    width: 100%;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 2.7rem;
  }

  h2 {
    font-size: 2.1rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  p {
    font-size: 1.1rem;
  }

  .home-content p {
    font-size: 1.2rem;
  }

  .hamburger {
    display: block;
  }

  .hamburger.active .line:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .line:nth-child(1) {
    transform: translateY(0.5rem) rotate(45deg);
  }

  .hamburger.active .line:nth-child(3) {
    transform: translateY(-0.5rem) rotate(-45deg);
  }

  .links {
    position: fixed;
    left: -100%;
    top: 10vh;
    gap: 0;
    flex-direction: column;
    background-color: #0c0f0a;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  .link a {
    padding: 2rem 0;
    display: block;
    font-size: 1.1rem;
  }

  .link a:hover {
    background-color: #800020;
  }

  .links.active {
    left: 0;
    z-index: 1;
  }

  .services {
    padding: 1.5rem 1rem;
  }

  .cards {
    gap: 1.5rem;
  }

  .card {
    max-width: 366px;
    max-height: 457px;
  }

  .card-desc {
    padding: 0.5rem 2rem;
  }

  .card-desc p {
    padding-bottom: 2rem;
  }

  .card-desc h3 {
    padding-bottom: 1rem;
  }

  .gallery {
    padding: 1.5rem 1rem;
  }

  .informations {
    text-align: center;
  }

  .contact {
    max-width: 768px;
    padding: 1.5rem 0.5rem;
    display: flex;
    flex-direction: column;
  }

  .location,
  .contact-container {
    width: 90%;
  }

  .contact-info,
  .contact-form {
    width: 100%;
  }

  footer {
    padding: 1rem;
    flex-direction: column;
    height: auto;
    gap: 1rem;
  }
}

/* Further adjust for even smaller screens */
@media (max-width: 480px) {
  h1 {
    font-size: 2.1rem;
  }

  h2 {
    font-size: 1.9rem;
  }
  h3 {
    font-size: 1.4rem;
  }
  p {
    font-size: 1rem;
  }

  .home-content .home-btn a {
    width: 100%;
    font-size: 1.1rem;
    padding: 0.6rem 1.2rem;
  }

  .card {
    max-width: 350px;
    max-height: 437px;
  }

  .card-desc {
    padding: 0.5rem 1.5rem;
  }

  .card-desc p {
    padding-bottom: 2rem;
  }

  .card-desc h3 {
    padding-bottom: 1rem;
  }

  .informations h3 {
    font-size: 2rem;
  }

  footer {
    padding: 0.5rem;
  }
}
